@{
    ViewBag.Title = "Octopus Demo App";
}

<div class="jumbotron">
    <h1>@typeof(ODD.Web.MvcApplication).Assembly.GetName().Name</h1>
    <h2>@typeof(ODD.Web.MvcApplication).Assembly.GetName().Version</h2>
    <h2>@Environment.MachineName</h2>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>App</th>
                    <td>
                        @typeof(ODD.Web.MvcApplication).Assembly.GetName().Name
                    </td>
                </tr>
                <tr>
                    <th>App version</th>
                    <td>
                        @typeof(ODD.Web.MvcApplication).Assembly.GetName().Version
                    </td>
                </tr>
                <tr>
                    <th>Machine name</th>
                    <td>@Environment.MachineName</td>
                </tr>
                <tr>
                    <th>OS</th>
                    <td>@Environment.OSVersion</td>
                </tr>
                <tr>
                    <th>Runtime</th>
                    <td>@Environment.Version</td>
                </tr>
                <tr>
                    <th>Host IP</th>
                    <td>
                        @ODD.Web.Controllers.HomeController.GetIPAddress();
                    </td>
                </tr>
                <tr>
                    <th>Client IP</th>
                    <td>
                        @HttpContext.Current.Request.UserHostAddress;
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>@Html.ActionLink("DoWork", "DoWorkAsync", "Home", new { @duration = "20" }, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>